#outterWrapper{

.basicBorderStyle{
    border-radius: 10px;
    border: 1px solid #026FE9;
    margin: 10px auto;
    padding: 40px 25px;
}
.bold{
    font-weight: 500;
}
.smallFont{
    font-size: .69rem;
}
.mediumFont{
    font-size: .75rem;
}
.bluelink{
    color:#026FE9;
}

.panelStyleDesign{
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 7px;
}
#leftSideModels{
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 277px);
    
    .displayDiv {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
}
.modelDataSection{
    background-color: #FFFFF6;
    height: calc(100vh - 277px);
    width: 100%;
    padding: 32% 10%;    
   .modelDataSection p{
        color: #484E29;
        font-size:12px;
    }
}
.floatingDivCopied{
    position: absolute;
    top: 3px;
    left: 265px;
    width: 70px;
    height: 27px;
    background-color: #5b5454;
    color: #FFF;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 9999;
}
.margin37{
    margin-top:-68px;
}
.pointer{
    cursor: pointer;
}
.lineheight30{
    line-height: 39px;
}
.loaderMask{
    position: absolute;
    height: calc(100vh - 268px);
    width: 100%;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    opacity: 30%;
    overflow: hidden;
    z-index: 99;
    left: -12px;
} 



}