.webPushContainer {
    background: #F0F2F7;
    padding: 15px;
    height: calc(100vh - 120px);
    overflow: auto;
    .buttonStyle {
        outline: none;
        height: 40px;
        border: 1px solid #026FE9;
        border-radius: 7px;
        font-size: 14px;
        color: #026FE9;
        background: #fff;
        cursor: pointer;
        padding: 0 16px;
    }
    .innerContainer {
        input[type="text"] {
            background: #FFFFFF;
            border: 1px solid #CCCCCC;
            border-radius: 8px;
            height: 40px;
            width: 100%;
            padding-left: 10px;
            font-weight: 100;
            outline: none;
        }
        .title {
            font-size: 14px;
        }
        .notificationInputs {
            background: #fff;
            border: 1px solid #E6E6E6;
            border-radius: 10px;
            width: 68%;
            padding: 15px;
            .titleStyle {
                font-weight: 500;
                font-size: 14px;
                color: #666;
            }
            .textInfo {
                font-size: 10px;
                color: #9A9A9A;;
                margin-top: 5px;
            }
            .webPushDetails {
                background: #F8FCFF;
                border-radius: 10px;
                padding: 25px;
                .innerSection {
                    .webTitle, .webMessage {
                        .emoji-mart, .emoji-mart-webPush {
                            position: absolute;
                            z-index: 99;
                            top: 40px;
                            right: 0;
                        }
                        .emojiPosition {
                            top: 55px;
                        }
                        .titleDiv, .msgDiv {
                            border: 1px solid #CCCCCC;
                            border-radius: 8px;
                            height: 40px;
                            background: #fff;
                            .webTitleStyle, .webMsgStyle {
                                margin-top: 7px;
                                outline: none;
                                width: 86%;
                                left: 10px;
                                position: absolute;
                                font-size: 13px;
                                height: 30px;
                                overflow: scroll;
                                border: 0;
                            }
                            .webMsgStyle {
                                height: 71px;
                            }
                            .iconContainer {
                                position: absolute;
                                right: 0;
                            }
                            .fa-grin, .fa-plus {
                                padding: 11px 15px;
                                border-left: 1px solid #ccc;
                                cursor: pointer;
                            }
                            .disabledPlusBtn {
                                pointer-events: none;
                                cursor: not-allowed;
                                color: rgb(179, 179, 179);
                            }
                        }
                        .msgDiv {
                            height: 80px;
                            .fa-grin, .fa-plus {
                                padding: 31px 15px;
                            }
                        }
                    }
                }
            }
            .buttonsSection, .richNotificationSection {
                background: #FBFBFB;
                border-radius: 10px;
                padding: 25px;
                .title {
                    font-size: 14px;
                }
                .outline-none {
                    outline: none;
                    position: relative;
                    top: 3px;
                }
                .toggleButton {
                    .switch {
                        position: relative;
                        display: inline-block;
                        width: 36px;
                        height: 20px;
                        input {
                            opacity: 0;
                            width: 0;
                            height: 0;
                        }
                        input:checked+.slider {
                            background-color: #026FE9;
                        }
                        input:focus+.slider {
                            box-shadow: 0 0 1px #2196F3;
                        }
                        input:checked+.slider:before {
                            -webkit-transform: translateX(14px);
                            -ms-transform: translateX(14px);
                            transform: translateX(14px);
                        }
                    }
                    .slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: #A6A6A6;
                        -webkit-transition: .4s;
                        transition: .4s;
                        &:before {
                            position: absolute;
                            content: "";
                            height: 14px;
                            width: 14px;
                            left: 4px;
                            bottom: 3px;
                            background-color: white;
                            -webkit-transition: .4s;
                            transition: .4s;
                        }
                    }
                    .slider.round {
                        border-radius: 34px;
                    }
                    .slider.round:before {
                        border-radius: 50%;
                    }                        
                }
                .buttonContainer {
                    .title {
                        font-size: 14px;
                        font-weight: 500 !important;
                    }
                    input[type="text"] {
                        outline: none;
                        border: 1px solid #CCCCCC;
                        border-radius: 8px;
                        height: 40px;
                        font-weight: 400;
                        width: 94%;
                        padding-left: 10px;
                    }
                    .btnPosition {
                        position: relative;
                        top: 30px;
                        &.iconColor {
                            border-color: #F4312A;
                            color: #F4312A;
                        }
                    }
                }
            }
        }
        .notificationPreview {
            background: #fff;
            width: 31%;
            padding: 25px 0;
            border-radius: 10px;
            .previewHeading {
                font-size: 14px;
                font-weight: 600;
            }
            input[type="radio"] {
                outline: none;
            }
            .chrome_windows_10, .chrome_windows {
                .innerDiv {
                    position: absolute;
                    background: #e3e3e3;
                    min-height: 66px;
                    width: 250px;
                    bottom: 10px;
                    right: 10px;
                    padding: 8px;
                    padding-bottom: 3px;
                    -webkit-box-shadow: 1px 3px 6px 0px #aaa;
                    -moz-box-shadow: 1px 3px 6px 0px #aaa;
                    box-shadow: 1px 3px 6px 0px #aaa;
                    .rnImage {
                        width: 100%;
                        height: 104px;
                        margin-bottom: 8px;
                        background: #C7C9CA;
                    }
                    .iconImage {
                        width: 50px;
                        height: 50px;
                        margin-bottom: 0;
                        text-align: center;
                        background: #C7C9CA;
                    }
                    .previewTitle {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-size: 11px;
                        font-weight: 500;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                    .previewMsg {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
                        font-size: 10px;
                        color: #666;
                    }
                    .placeholderTxt {
                        color: #999;
                        font-size: 9px;
                    }
                    .previewBtn {
                        background: #C7C9CA;
                        display: inline-block;
                        height: 24px;
                        font-size: 10px;
                        border-radius: 2px;
                        width: 96%;
                        padding: 5px 0;
                        text-align: center;
                    }
                }
            }
            .chrome_windows {
                .innerDiv {
                    background: #fff;
                    top: 12px;
                    bottom: auto;
                    .topStaticIcons {
                        height: 16px;
                        position: relative;
                        top: -8px;
                    }
                    .staticIcons, .topStaticIcons {
                        .iconPosition {
                            right: 0;
                            top: -6px;
                        }
                        i {
                            color: #C7C9CA;
                        }
                    }
                    .previewBtn {
                        background: #eee;
                    }
                }
            }
            .chrome_mac, .firefox_mac {
                .innerDiv {
                    width: 290px;
                    height: 61px;
                    border-radius: 8px;
                    background: #fff;
                    position: absolute;
                    top: 55px;
                    right: 10px;
                    -webkit-box-shadow: 1px 3px 6px 0px #aaa;
                    -moz-box-shadow: 1px 3px 6px 0px #aaa;
                    box-shadow: 1px 3px 6px 0px #aaa;
                    .chromeIcon {
                        display: flex;
                        align-items: center;
                        padding: 0 10px;
                        img {
                            height: 30px;
                        }
                    }
                    .previewTitle {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-size: 11px;
                        font-weight: 500;
                        white-space: nowrap;
                        padding-right: 5px;
                    }
                    .previewMsg {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-size: 10px;
                        color: #666;
                        padding-right: 5px;
                    }
                    .placeholderTxt {
                        color: #999;
                        font-size: 9px;
                    }
                    .iconImage {
                        width: 40px;
                        height: 40px;
                        margin-bottom: 0;
                        background: #C7C9CA;
                        margin-top: 11px;
                    }
                    .staticButtons {
                        border-left: 1px solid #C7C9CA;
                        font-size: 10px;
                        font-weight: 500;
                        flex-direction: column;
                        height: 61px;
                        div {
                            height: 30px;
                            display: flex;
                            align-items: center;
                            padding-left: 13px;
                            &:first-child {
                                border-bottom: 1px solid #C7C9CA;
                            }
                        }
                    }
                }
            }
            .firefox_windows {
                .innerDiv {
                    position: absolute;
                    background: #fff;
                    padding: 5px 8px 8px 8px;
                    min-height: 66px;
                    width: 250px;
                    bottom: 10px;
                    right: 10px;
                    -webkit-box-shadow: 1px 3px 6px 0px #aaa;
                    -moz-box-shadow: 1px 3px 6px 0px #aaa;
                    box-shadow: 1px 3px 6px 0px #aaa;
                    .previewTitle {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-size: 11px;
                        font-weight: 500;
                        white-space: nowrap;
                    }
                    .iconStyle {
                        color: #999;
                    }
                    .cogStyle {
                        position: absolute;
                        right: 0;
                        font-size: 12px;
                        color: #999;
                        top: -12px;
                    }
                    .previewMsg {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-size: 10px;
                        color: #666;
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
                    }
                    .placeholderTxt {
                        color: #999;
                        font-size: 9px;
                    }
                    .iconImage {
                        width: 50px;
                        height: 50px;
                        margin-bottom: 0;
                        background: #C7C9CA;
                        margin-top: 2px;
                    }
                }
            }
            .firefox_mac {
                .innerDiv {
                    top: 65px;
                }
            }
            .chrome_android {
                .innerDiv {
                    margin-top: 15px;
                    .smartphone {
                        position: relative;
                        width: 270px;
                        height: 480px;
                        margin: auto;
                        border: 16px #C1C1C1 solid;
                        border-top-width: 60px;
                        border-bottom-width: 60px;
                        border-radius: 36px;
                        .content {
                            margin: 7px;
                            border-radius: 8px;
                            background: #e9e9e9;
                            padding: 7px 7px 4px 7px;
                            .iconPlacement {
                                margin-bottom: 5px;
                                img {
                                    height: 20px;
                                    margin-right: 6px;
                                }
                                .chromeTxt {
                                    font-size: 11px;
                                }
                            }
                            .rnImage {
                                width: 100%;
                                height: 104px;
                                margin-bottom: 8px;
                                background: #C7C9CA;
                            }
                            .iconImage {
                                width: 50px;
                                height: 50px;
                                margin-bottom: 0;
                                text-align: center;
                                background: #C7C9CA;
                            }
                            .previewTitle {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                font-size: 11px;
                                font-weight: 500;
                                white-space: nowrap;
                            }
                            .previewMsg {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                font-size: 10px;
                                color: #666;
                            }
                            .staticText {
                                font-size: 9px;
                                color: #028aff;
                            }
                            .previewBtn {
                                background: #C7C9CA;
                                display: inline-block;
                                height: 24px;
                                font-size: 10px;
                                border-radius: 2px;
                                width: 96%;
                                padding: 5px 0;
                                text-align: center;
                            }
                        }
                    }
                    .smartphone:before {
                        content: '';
                        display: block;
                        width: 60px;
                        height: 5px;
                        position: absolute;
                        top: -30px;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background: #a1a1a1;
                        border-radius: 10px;
                    }
                }
            }
            .chromeBackground, .firefoxBackground {
                background-image: url('../../../assets/images/chrome_background.png');
                background-repeat: no-repeat;
                width: 96%;
                height: 300px;
                background-size: cover;
                margin: 0 auto;
                margin-top: 15px;
            }
            .firefoxBackground {
                background-image: url('../../../assets/images/firefox_background.png');
            }
            .expNCollapse {
                font-size: 14px;
                color: #333;
                font-weight: 500;
            }
            .textSize {
                font-size: 14px;
            }
            .browserListSelection {
                background: #FFFFFF;
                border: 1px solid #CCCCCC;
                border-radius: 8px;
                height: 40px;
                outline: none;
            }
        }
    }
}