.templateContainer {
    width: 273px;
    padding: 15px;
    margin: 9px;
    background: #fff;
    border-radius: 3px;
    cursor: pointer;
    min-height: 312px;
    border: 1px solid transparent;
    border-bottom-width: 3px;

    h6 {
        opacity: 0.7;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    &.selected {
        border: 1px solid #007bff;
        border-radius: 3px;
        border-bottom-width: 3px;
    }
    .templateImg {
        background: #eee;
        padding: 7px 10px;
        img {
            width: 25px;
        }
    }
    .templateInfo {
        display: flex;
        flex-direction: column;
        margin: 15px 0;
        span {
            text-overflow: ellipsis;
            overflow: hidden;
        }
        span:first-child {
            font-size: 15px;
            font-weight: 500;
            opacity: 0.8;
            white-space: nowrap;
        }
        span:last-child {
            font-size: 12px;
            color: #999;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        .tagsContainer {
            max-height: 88px;
            overflow: scroll;
        }
    }
    .templateTags {
        border: 1px solid;
        padding: 1px 4px;
        font-size: 11px; 
        border-radius: 3px;
        margin-right: 10px;
    }
}