@import '../../../custom-style.scss';
.buttonCss {
  @include secondaryBttn;
}

.buttonPrimaryCss {
  @include primaryBttn;
}
.ensembleAISection{
    width: 100%;
    height: calc(100vh - 146px);    
}
.greylight{
  color: #CCCCCC;
}
.layoutHeightCalc{
  height:calc(100vh - 168px);
  width:100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.fontCustomSize{
  font-size: 0.7rem;;
}
.whiteBackColor{
  background: #fff;
}
.borderRadius0{
  border-radius: 0;
  border:none;
}
.borderLink{
  border: 1px solid #026FE9;
}
.headerHeight{
  height: 65px;
}
.textColor{
  color: #666666;
}
.partBoxStyle{
  width:50%;
  height: 130px;
  padding: 10px;
  border:1px solid #000;
  display: inline-block;
}
.eyePosition{
  position:absolute;
  right: -12px;
  top: 42px;
  z-index: 99;
  color: #ccc;
  cursor: pointer;
}
.wrapperParts{
  width:100%;
  border:1px solid #000;
}
.wrapperChoosPart{
  position: absolute;
  bottom: 7px;
  left: 10px;
  width: 90%;
}
.floatBottomLink{
  position: absolute;
  bottom: 10px;
  text-align: center;
  width:100%;
  left:0;
}
.higlightParts{
  border:2px solid #026FE9;
}
.normalFontStyle{
  font-style: normal;
}
.inlineLabel{
  display:inline;
}
.imgResponsive{
  // max-width: 100%;
  width: 245px;
  // background-image: url('../../../assets/images/layoutimages_ensembleAI/blockConfigImg.svg');
  // background-position: -5px;
  // height: 366px;
  // background-repeat: no-repeat;
  img{
    width:100%;
  }
}
.upperCaseLabel{
  text-transform: uppercase; font-size: medium;
}
.borderbottomUnactive{
  border-bottom:1px solid #eee;
  background-color: #fff !important;
}
.activeA{
  border:1px solid #4E9AF0;
}
.linkLabelActive{
  color:#026FE9 !important;
}
.accordionSTyle{
  background-color: #F4F9FF;
  padding:7px;
   
  i{
    background-image: url('../../../assets/images/layoutimages_ensembleAI/ExpandCollpaseIcon.svg');
    width:20px;
    height:27px;
    background-repeat: no-repeat;
    background-position: center center;
  }

}
.wrapperleftoptionMenu{
  .tabs-section {
    list-style:  none;

    li {
      list-style: none;
      border-bottom: 1px solid #EDEDED;
      color: #666666;
      font-size: 0.8rem;
      font-weight: 500;
      padding: 20px 13px;
      cursor: pointer;

      &.active {
       background-color: #F4F9FF;
      }

    }
    li:hover{
      background-color: #F4F9FF;
    }
    .disabled-tab {
      cursor: not-allowed;
      opacity: 0.3;
    }
  }
}
.verticalAlign{
  vertical-align: middle;
}
.lightBorder{
  border: 1px solid #eee;
}
.marginTopCustom{margin-top:11px;}
.tabsLiStyle {
  border-bottom: 2px solid #ccc;
}
.tabsLiStyle li.active {
  border-bottom: 2px solid #28A54D !important;
  color: #28A54D !important;
}
.tabsLiStyle li{
  margin-bottom:-2px;
}

.wrapperOfOptions{
  border: 1px solid #e1e1e1;
  border-radius: 7px;
  padding: 10px;

  }
.selectNumberDiv{
  background-color: #F2F2F2;
  padding: 6px;
  border-radius: 10px;
  gap: 7px;
  width: 117px;
  .numVal{
    color: #666666;
    padding: 5px;
    border-radius: 10px;
    width: 30px;
    text-align: center;
    font-size: 0.9rem;

    &.active{
      color:#026FE9;
      background-color: #fff;
    }
  }
 
}
.autenticationSection{
  background-color: #F4F9FF;
  border-bottom: 1px solid #EDEDED;
}
.blockConfigStrutureArea{
  .comp-header{
    background-color: white;
    padding: 15px 50px 50px 15px;
    margin: 10px;
    font-weight: bold;
}
.white-block{
    background-color: white;
}
.width-40-pect{
    width: 40%;
}
.width-50-pect{
    width: 40%;
}
.width-10-pect{
    width: 20%;
}
.container-main{
    display: flex;
    justify-content: space-between;
}
.container-main div{
    margin: 10px;
}
.parts-select {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.active-parts {
    background-color: white;
    border-radius: 10px;
}
.input-field{
    padding: 15px;
    border-radius: 8px;
    border: #CCCCCC solid 1px;
}
.parts-td{
    width: 100px;
    height: 100px;
    border: black 1px solid;
    position: relative;
    text-align: center;
    // top: 1px;
    // left: 1px;
}
.parts-tb{
    border: black 1px solid;
    width: 100%;
}
.parts-cellno{
    position: absolute;
    top: 1px;
    left: 1px;
}
.footer{
    padding-top: 40px;
    padding-left: 10px;
}
label{
    color: #666666;
    font-weight: 500;
    margin-left: 10px;
    font-size: smaller;
}
.section3 > div {
   padding-top: 10px;
}

}
.helpIconPos{
  position: absolute;
  right: 35px;
  top: 17px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}