@import "/src/custom-style.scss";
.buttonCss {
  @include secondaryBttn;
}

.buttonPrimaryCss {
  @include primaryBttn;
}

* {
    margin: 0px;
    padding: 0px;
  }
  .warningMsgEditActive{
    background-color: #FFF6E7;
    border:1px solid #FFC54E;
    color: #666666;
    font-size: 11px;
    font-weight: 500;
    border-left-width: 4px;
    padding: 1%;
    width:98%;
    text-align: left;
    
  }
  .warnColor{
    color:#FFC54E;
  }
  .infoColor{
    color:#80B7F4;
  }
  .contentMsgStyle{
    padding: 1%;
    line-height: 35px;
  
  }
  .custom-btn{
    padding: 5px 15px;
    border:1px solid #3366FF;
    color: #3366FF;
    background-color: #fff;
    font-size: 14px;
    margin: 5px;
    cursor: pointer;

    &:disabled {
      pointer-events: none;
      cursor: not-allowed;
      color: #b3b3b3;
      border-color: #b3b3b3;
    }
  }


.custom-success-btn{
    border:1px solid #04e66ada;
    color: #04e66ada;
}
   #beefree-sdk-container {
    position: inherit;
    top: 10px;
    bottom: 30px;
    left: 0;
    right: 5px;
    width: 99%;
    height: calc(100vh - 220px);
  }

  #integrator-bottom-bar {
    position: absolute;
    height: 25px;
    bottom: 0px;
    left: 5px;
    right: 0px;
  }
  .border-none{
    border: none;
  }

  .font-small{
    @include titleLabel;
  }
  .backColor{
    background-color: #F0F2F7;
  }
  .whiteColor{background-color: #FFF;}
  .panel.card.customClass .card-header {
    background-color: #F8FCFF !important;
    border: 1px solid #f8fcff;
}
.action-section-lists{
  text-align: center;

  .btn:not(:last-child):not(.dropdown-toggle) {
    border-radius: 7px !important;
  }
}
.actionMenusPopup {list-style: none;}
.actionMenusPopup li{
  list-style: none;
  padding: 20px 20px 0px 20px;
  text-align: left;
  cursor: pointer;
}
.actionMenusPopup{
    position: absolute;
    height: auto;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    right:0px;
    top:36px;
    z-index: 9999;
    //display: block;
    padding-bottom: 20px;
    font-size: 14px;
    white-space: nowrap
}

#mainContainerBEE {
  .customTopLeftBar {
    display: flex;
    align-items: center;
    width: 411px;
  }
  .customTopRightBar {
    .bluebar {
      display: flex;
      align-items: center;
      background-color: #F4F9FF;
      text-align: left;
      padding: 5px 0;

      .fa-long-arrow-alt-right {
        color: #8C8C8C;
        font-weight: 400;
        vertical-align: middle;
      }
      span {
        font-size: 14px;
      }
      .separator {
        font-size: 23px;
        color: #8C8C8C;
        font-weight: 100;
      }
    }

    .buttonMaxSize {
      max-width: 158px; /* Adjust the value as needed to allow for up to 10 characters */
      white-space: nowrap; /* Prevent text from wrapping */
      overflow: hidden; /* Hide any overflow text */
      text-overflow: ellipsis; 
    }
  }

  @media screen and (max-width: 1170px) {
    .customTopLeftBar {
      display: flex;
      align-items: center;
      width: 351px;
    }
  } 
}

.inline-js-container {
  border: 1px solid #cccccc;
  padding-top: 10px;
  border-radius: 5px;

  .mini-section {
    width: 62px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;

    img {
      cursor: pointer;
    }
  }
}