@import '../../../custom-style.scss';
.buttonCss {
  @include secondaryBttn;
}

.buttonPrimaryCss {
  @include primaryBttn;
}

.inlineJsArea {
  width: 100%;
  background: #e2e2e2;

  .loaderMask {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgb(238, 238, 238);
    display: block;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    opacity: 30%;
    overflow: hidden;
    z-index: 10;

    .spinner-border.text-dark {
      position: relative;
      top: 50%;
      left: 40%;
    }
  }

  .innerBody {
    background-color: #fff;
    height: calc(100vh - 127px);

    .scriptParams {
      border-right: 1px solid #ccc;
      padding-bottom: 0 !important;
      height: calc(100vh - 134px);
      overflow: auto;
      .fields {
        display: flex;
        flex-direction: column;
        label {
          display: inline-block;
        }
      }

      .input-section {
       /*  max-height: calc(100vh - 402px);
        overflow: auto; */
        width: 100%;

        .row {
          display: flex;
          align-items: center;
        }
      }
    }

    .scriptEditor {
      width: 50%;
      position: relative;
      border-right: 1px solid #ccc;
      padding-bottom: 0 !important;

      .scriptEditorSection {
        background-color: #f8f6f6;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 12px;
        height: calc(100vh - 194px);

        .header,
        .footer {
          .a {
            color: #ff32c6;
          }
          .b {
            color: #c478ff;
          }
          .c {
            color: #1c1c1c;
          }
        }

        .logic-textarea {
          width: 97%;
        }
      }

      .sidebar__expand-handle {
        background-color: #4cb9ea !important;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 50%;
        right: -17px;
        z-index: 21;
        border-radius: 19px;
        text-align: center;
        > i {
          color: #fff;
        }
      }

      .sidebar__collapse-handle {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        right: 10px !important;
        transition: right 0.5s ease-in-out;
      }

      .run-code-bttn {
        position: absolute;
        bottom: 22px;
        right: 36px;
      }
    }

    .testConsole {
      border-right: 0px solid red;

      .testConsoleInner {
        background-color: #f9f9f9;
        height: calc(100vh - 147px);
        border: 1px solid #ccc;

        hr {
          margin: 0 !important;
        }

        .headerText {
          display: flex;
          justify-content: space-between;
        }

        .output-section {
          max-height: calc(100vh - 356px);
          overflow: auto;
          font-size: 12px;
          span {
            border-bottom: 1px dashed #000;
            color: #c478ff !important;
          }
          p {
            border-bottom: 1px double #000;
            color: #cc0000 !important;
          }
        }

        .callingFuncSection {
          display: flex;
          flex-direction: row;
          align-items: center;

          .scriptText {
            font-size: 12px;
            color: #c478ff;
          }

          .scriptFields {
            display: flex;
            align-items: center;
          }
        }
      }
    }

    .multiValueChecbox {
      label {
        font-size: 12px;
        color: #333;
        font-weight: 400;
        margin-right: 20px;
        display: flex;
        align-items: center;
      }

      input[type='checkbox'] {
        margin-right: 5px;
      }
    }

    .multiValueSection {
      width: 100%;

      .row {
        display: flex;
        align-items: center;
      }
    }
  }

  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
}
