.testEmailConatiner {
    padding: 15px;
    .iconPosition {
        color: #aaa;
    }
    .titleText {
        font-weight: 100;
        font-size: 11px;
        font-style: italic;
        color: #999;
    }
    .radioLabel {
        font-size: 14px;
    }
    input {
        &::placeholder {
            color: #999;
            font-weight: lighter;
        }
    }
    .emailsContainer {
        height: 100px;
        border: 1px solid #E9E9E9;
        border-radius: 8px;
        padding: 10px;
        overflow-x: hidden;
        overflow-y: auto;
        .emailTag {
            background: #eee;
            border-radius: 3px;
            padding: 3px 5px;
            color: #999;
            font-size: 12px;
            word-break: break-all;
            cursor: default;
            overflow-x: hidden;
            overflow-y: auto;
        }
    }
    #closeBtn, #sendBtn {
        padding: 5px 15px;
        border-radius: 5px;
    }
    .fontSizeSmall {
        font-size: 14px;
    }
    .iconGrayColor {
        color: #aaa;
    }
    #sendToTestList {
        .rowSelect {
            background: #007bff;
            color: #fff;
            .fa-check-circle {
                color: #fff;
            }
        }
        .listContainer {
            height: 226px;
            border: 1px solid #E9E9E9;
            border-radius: 8px;
            .title {
                background: #e9e9e9;
                border-radius: 8px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                font-size: 14px;
                padding: 5px 10px;
            }
            .listName {
                line-height: 30px;
            }
        } 
    }
    .validationReport {
        justify-content: space-evenly;
        align-items: flex-start;
        height: 350px;
        .reportItems {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &:last-child {
                border-right: none;
            }
            label {
                margin-bottom: 5px;
            }
        }
        .separator {
            border: 1px solid #eee;
            min-height: 60px;
        }
    }
    .downloadError {
        background: #E9E9E9;
        color: #23527c;
        padding: 5px 15px;
        font-size: 14px;
        span {
            cursor: pointer;
        }
    }
    .loaderMask{
        position: absolute;
        height: 480px;
        width: 97%;
        z-index: 1;
        background-color: rgb(238, 238, 238);
        display: flex;
        align-items: center; 
        justify-content: center; 
        font-size: 24px;
        opacity: 30%;
        overflow: hidden;
    } 
    #testParamsSection{
        i{margin-top:12px;}
        
    }
    .ellipseText{
        width: 111px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        word-break: break-all;
      }  
      #testParamsSection{
        width: 100%;
        height: 185px;
        overflow-x: hidden;
        overflow-y: auto;
      }
      .multiArrayText{
        font-size: 10px;
        color: #999;
        margin-top: 5px;
        display: block;
        font-weight: 500;
      }
      .mergeTagExt-dropdown {
        position: relative;
        display: inline-block;
        width: 100%;
      
        .search-input-box {
          position: relative;
          cursor: pointer;
          i {
            position: absolute;
            right: 12px;
            top: 12px;
          }
      
          input {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            font-size: 12px;
            cursor: pointer;
          }
        }
      
        ul {
          position: absolute;
          width: 100%;
          max-height: calc(100vh - 404px);
          list-style: none;
          background-color: #fff;
          border: 1px solid #ccc;
          overflow-y: auto;
          padding: 5px;
          margin: 0;
          font-size: 12px;
          z-index: 999;
      
          li {
            display: flex;
            padding: 8px;
            cursor: pointer;
            justify-content: space-between;
          }
      
          li:hover {
            background-color: #f4f9ff;
          }
        }
      
        
      
        
      }
}
