@import '../../../custom-style.scss';
.buttonCss {
  @include secondaryBttn;
}

.buttonPrimaryCss {
  @include primaryBttn;
}

.main-container {
  > h3 {
    font-size: 16px;
    font-weight: 700;
  }

  > hr {
    width: 98%;
    background: #2d2d2d;
    position: relative;
    top: 5px;
  }

  input[type='text'],
  input[type='number'],
  input[type='color'],
  select {
    width: 83px;
    height: 28px;
    resize: none;
    padding: 0 5px;
    font-size: 12px;
  }

  .previewSection {
    background: #ebebeb;
    padding: 10px;
    height: calc(100vh - 325px);
    overflow-x: hidden;
    overflow-y: auto;

    .html-preview {
      margin: 0 auto;
    }
  }

  .control-section {
    border-radius: 10px;
    border: 1px solid #e2e2e2;
    background: #fff;
    padding: 13px 10px;
    font-family: Poppins;
    height: calc(100vh - 268px);
    overflow-x: hidden;
    overflow-y: auto;

    .card {
      background-color: transparent;
    }

    h2 {
      width: 100%;
      color: #000;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
    }

    h6 {
      font-size: 12px;
      font-weight: 600;
    }

    .borderSection {
      display: flex;
      flex-wrap: wrap;

      .innerLabel {
        font-size: 12px;
        color: #838383;
      }
    }

    .paddingSection,
    .backgroundSection,
    .flexSection,
    .marginSection {
      > div {
        display: flex;
        font-size: 12px;
      }

      label {
        font-size: 12px;
        cursor: pointer;
        color: #838383;
      }
      input {
        font-size: 12px;
      }

      .paddingLabel {
        font-size: 12px;
        color: #333;
        position: relative;
        top: -2px;
      }

      .cardPaddingStyle {
        width: 46px;
      }

      .customPadding {
        display: flex;
        align-items: center;
      } 
    }

    .cardSizeSection {
      .innerLabel {
        font-size: 12px;
        color: #838383;
      }
      > div {
        font-size: 12px;
      }

      .borderType, .borderColor {
        .gr {
          display: inline-flex;

          input {
            width: 75px !important;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }

          .cardStylesWidthUnit, .cardStylesHeightUnit {
            border-left: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            width: 65px;
          }
        }
      }
    }

    .noOfCardsStyle {
      font-size: 10px;
      color: #838383;
    }

    .flexSection {
      .flexIcons {
        .flexDirection {
          width: 163px;
        }
        .flexWrap {
          width: 83px;
        }

        .alignContent, .justifyContent {
          width: 241px;
        }

        .alignItems {
          width: 199px;
        }

        > div {
          height: 37px;
          display: flex;
          border: 1px solid #d7d7d7;
          border-radius: 5px;

          picture {
            border-right: 1px solid #d7d7d7;
            padding: 8px 10px 6px;
            cursor: pointer;
            svg-icon {
              display: inline-flex;
              height: 22px;
              &.active {
                rect, path {
                  fill:#026fe9;
                  stroke: #026fe9;
                }
              }
            }

            &:last-child {
              border-right: 0px solid #d7d7d7;
            }
          }
        }
      }
    }

    .responsiveLayout {
      display: flex;
      align-items: center;

      label {
        font-size: 12px;
      }
    }
  }

  /* tabs */
  .tabs {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
  }

  .tab {
    cursor: pointer;
    padding: 10px;
    font-size: 12px;
    user-select: none;
    border-bottom: 1px solid #ccc;
    color: #666;
    text-align: center;
  }

  .tab.active {
    color: #026fe9;
    border-bottom: 1px solid #026fe9;
  }
}

.loaderMask {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  opacity: 30%;
  overflow: hidden;
  z-index: 10;
}

.disabled-div {
  pointer-events: none;
  opacity: 0.2;
}


