@import '../../../custom-style.scss';
.buttonCss {
  @include secondaryBttn;
}

.buttonPrimaryCss {
  @include primaryBttn;
}

.rowConfiguration {
  height: 100%;

  .mergeTagExt-section {
    height: 100%;
  }

  .mergeTag-section {
    padding-top: 25px;

    img.mergeTagsIcons {
      width: 19px;
      margin-right: 5px;
    }

    .mergeTagsIcons + span {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 82%;
      max-width: 302px;
      vertical-align: bottom;
    }

    h4 {
      color: #000;
      font-size: 14px;
      font-weight: 700;
    }

    .allTags {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border: 1px solid #d4d4d4;
      background-color: #f3f3f3;
      > ul {
        margin: 0;
        padding: 0;
        margin-top: 20px;
        height: calc(100vh - 274px);
        overflow: auto;

        li,
        .childDiv li {
          display: flex;
          align-content: center;
          justify-content: space-between;
          list-style: none;
          border-bottom: 0.25px solid #949494;
          background: #fff;
          padding: 2px;
          font-size: 11px;

          &:first-child {
            border-top: 0.25px solid #949494;
          }

          &:last-child {
            border-bottom: none;
          }

          &.active {
            background-color: #ecf5ff;
          }

          .section-2 {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            border-left: 1px solid #a19191;

            i {
              cursor: pointer;
            }
          }
        }

        .parentDiv {
          button {
            font-size: 0.5rem;
            padding: 0 5px !important;
          }
        }

        .cpDiv {
          height: 40px;
          align-content: center;
        }

        .childDiv li {
          cursor: pointer;
          height: 40px;

          &.rowSelected {
            background-color: #ecf5ff;
          }
        }

        .rootLabel {
          cursor: pointer;
          height: 40px;
          &.rowSelected {
            background-color: #ecf5ff;
          }
        }

        .childDiv ul {
          // &:has(li) {
          //   background-color: red;
          // }

          margin-top: 0;
        }
        .childDiv li {
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }

  .mergeTag-inputs {
    padding-top: 60px;
    width: 100%;

    .table-section-xy {
      height: calc(100vh - 300px);
      overflow: auto;
      border: 0.75px solid #cdcdcd;
    }

    h4 {
      color: #000;
      font-size: 14px;
      font-weight: 500;
    }

    table {
      background-color: #fff;
      font-size: 13px;
      margin: 0;
      .thead-dark th {
        background-color: #e3e4e4;
        color: #000;
        padding: 10px;
      }

      thead th:first-child,
      thead th:last-child {
        border-radius: 0;
      }
    }
  }
}

.allTags {
  position: relative;
}

.addTagSection {
  position: absolute;
  top: 0;
  left: -2px;
  width: 101%;
  height: 100%;
  background-color: #fefff8;
  border: 1px dashed #c5d29e;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 1;

  > div {
    height: calc(100vh - 300px);
  }
  .heading {
    font-size: 12px;
    font-weight: 700;

    i {
      cursor: pointer;
    }
  }

  select {
    font-size: 12px;
    width: 100%;
  }

  hr {
    margin-top: 40px;
    padding: 0;
    border: 1px solid rgba(197, 210, 158, 1);
    width: 100%;
  }

  .inputSection {
    label {
      font-size: 12px;
      font-weight: 500;
      color: #666;
    }

    input {
      width: 100%;
      height: 30px;
      border-radius: 8px;
      border: 1px solid #ccc;
      padding: 0 10px;
      color: #666;
    }
  }

  .buttonSection {
    position: absolute;
    justify-content: flex-end;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
  }

  .api-input-fields-section {
    height: calc(100vh - 500px);
    overflow-y: auto;
    overflow-x: hidden;
  }
}


.mergeTagExt-dropdown {
  position: relative;
  display: inline-block;
  width: 100%;

  .search-input-box {
    position: relative;
    cursor: pointer;
    i {
      position: absolute;
      right: 12px;
      top: 7px;
    }

    input {
      width: 100%;
      height: 30px;
      padding: 8px;
      border: 1px solid #ccc;
      font-size: 12px;
      cursor: pointer;
    }
  }

  ul {
    position: absolute;
    width: 100%;
    max-height: calc(100vh - 404px);
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    overflow-y: auto;
    padding: 5px;
    margin: 0;
    font-size: 12px;
    z-index: 999;

    li {
      display: flex;
      padding: 8px;
      cursor: pointer;
      justify-content: space-between;
    }

    li:hover {
      background-color: #f4f9ff;
    }
  }

  .singleObject,
  .multiObject {
    width: 56px;
    margin-left: 10px;
    color: #212529;
    font-size: 80%;
    border-radius: 5em;
    min-width: 1.5em;
    padding: 3px 6px;
    text-align: center;
  }

  .singleObject {
    border: 2px solid #399916;
  }

  .multiObject {
    border: 2px solid #9f30e5;
  }
}

.disabledBtn{
  pointer-events: none;
  cursor: not-allowed;
  color: #ECF5FF;
  border: 1px solid #9AC5F6;
  background: #9AC5F6;
}
