.attachmentConatiner {
  .titleSection {
    padding: 15px;
  }
  .iconPosition {
    color: #aaa;
  }
  .fileBrowse {
    height: 150px;
    padding: 15px;
    .custom-file-input:focus ~ .custom-file-label {
      border-color: #ced4da;
      box-shadow: none;
    }
    /* Hide the original file input */
    .custom-file {
      > div {
        display: flex;
        justify-content: center;

        input[type='file'] {
          display: none;
        }

        /* Style for file name display */
        #file-name {
          margin-left: 5px;
          font-size: 13px;
          align-items: center;
          padding: 5px;
          border: 1px solid #ccc;
          width: 76%;
          height: 32px;
        }
      }
    }

    .attachedFile {
      margin-bottom: 10px;
      font-size: 13px;
      line-height: 16px;
      span {
        color: #0062cc;
      }
      .pipe {
        color: #aaa;
        font-size: 18px;
        position: relative;
        top: 3px;
        margin: 0 10px;
      }
      .fa-times {
        color: #aaa;
      }
    }
    .status {
      font-size: 14px;
      padding-top: 15px;
      .iconColor {
        color: green;
        margin-right: 10px;
      }
    }
  }
  #closeBtn,
  #attachBtn {
    padding: 5px 15px;
    border-radius: 5px;
  }
  .loaderMask {
    position: absolute;
    height: 294px;
    width: 100%;
    z-index: 1;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    opacity: 30%;
    overflow: hidden;
    z-index: 10;
  }
}
