@import '../../../custom-style.scss';
.buttonCss {
  @include secondaryBttn;
  line-height: 1.5;
}
.buleBtn {
  background-color: #3366ff;
  color: #fff;
}

.clipboard-modal {
  z-index: 9;
  visibility: hidden;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 642px;

  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196f3;
    color: #fff;

    span {
      cursor: pointer;
      margin-right: 10px;
    }

    span.move {
      cursor: move;
    }
  }

  .body {
    padding: 15px;
    background-color: #fff;

    .body-top-bar {
      background-color: #f1f1f1;
      padding: 5px;
      border-radius: 5px;
      margin-bottom: 15px;
      padding-right: 10px;
      text-align: right;

      button {
        color: #fb987e;
        border: 1px solid #fb987e;
      }
    }

    .tag-section-empty {
      display: flex;
      align-content: center;
      flex-wrap: wrap;
      justify-content: center;
      background-color: #fefff8;
      border: 1px dashed #818335;
      height: 289px;
      font-size: 12px;
      color: #000000;
    }

    .tag-section {
      margin: 0 10px;
      .accordion {
        height: 288px;
        overflow: auto;
      }

      .accordion-item {
        margin-bottom: 10px;

        .card {
          background-color: #fff;
          border: none;

          .card-header {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            font-weight: 500;
            background-color: #f5f5f5;
            border: none;
            padding: 5px 10px;
          }

          .card-body {
            padding: 0;
            margin: 10px;

            .table {
              font-size: 12px;
              border: 1px solid #eee;
              thead th {
                padding: 10px;
              }
              td,
              th {
                text-align: left;
                padding: 6px 10px;
                top: -2px;
              }

              .fa-copy {
                cursor: pointer;
              }
            }

            .align-center {
              text-align: center !important;
            }
          }
        }

        .delete-icon {
          margin-right: 15px;
        }

        .collapse-arrow {
          &.collapsed i {
            transform: translateY(0%) rotate(-270deg);
            font-size: 12px;
          }
        }
      }
    }
    .footer {
      text-align: right;
    }
  }
}

.hide {
  display: none;
}

.toggle-icon {
  cursor: pointer;
}
table td{
  vertical-align: text-top;
}
.inner-table{
  width: 100%;
  tr{
    border: none;
  }
}
/* Initially hide all inner tables */
.inner-table {
  display: none;
}

/* Show the inner table */
.inner-table.show {
  display: table;
  margin-left: 6%;
}

/* Show the inner table when it immediately follows a row with the 'show' class */
tr.show + tr .inner-table {
  display: table;
}
.freeStyle-table-row svg{
  height: 12px;
  width: 12px;
}
.left-align-td{
  text-align: left;
}
.freeStyle-table-row svg{
  margin-right:10px;
}
.clearClipBoard {
  color: #fb987e;
  border: 1px solid #fb987e;
  margin-right: 10px;
}