@import 'assets/themes/ptags-base';
.button-height {
    height: 80% !important;
}
// Drawer 
.drawer {
    &.open {
      .drawer-header {
        .drawer-title {
          margin-bottom: 0;
          line-height: 1.5
        }
  
        .sub-title {
          font-weight: $regular;
          color: $gray40;
        }
       
  
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .btn {
        font-weight: 400;
        padding: 0.375rem 0.75rem;
        font-size: calc($size-12);
        line-height: 1.5;
        border-radius: 0.25rem;
    }
    .btn-outline-primary {
        &:hover,
        &:focus {
            color: $white; 
            background-color: $blue;
            border-color: $blue;
        }
        &:active {
            color: $white; 
            background-color: $blue;
            border-color: $blue;
        }
        background: $white;
    }
   
  
      right: 0;
      z-index: 1050;
    }
  
    position: fixed;
    padding: 1rem;
    top: 0;
    right: -450px;
    height: 100vh;
    background-color: $white;
    font-weight: $regular;
    //box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    transition: right 0.3s ease-in-out;
  }
  
  .drawer-shadow {
    &.show {
      opacity: 0.5;
      display: block;
    }
  
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: $black;
  }