.loaderMask{
    position: absolute;
    height: calc(100vh - -100%); 
    width: 100%;
    z-index: 1;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center; 
    justify-content: center; 
    font-size: 24px;
    opacity: 50%;
    overflow: hidden;
    top:-40%;
    }