<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">
    <span class="largeLable">{{ 'textAddons.advancedTextConfigLbl' | translate }}</span>
  </h5>
</div>
<div class="modal-body">
  <div class="col-12 p-0 textArea">
    <div class="accordionSection">
      <div class="accordion" id="accordion">
        <div class="accordion-item">
          <div class="card">
            <div class="card-header" id="heightAndLines" (click)="toggleCollapse(0)">
              <div class="col-7 p-0 res">
                <div
                  class="toggleEnableDisable mr-2 p-0"
                  [ngClass]="textConfigureAccorActive ? 'toggleEnable' : 'toggleDisable'">
                  <div class="toggleButton">
                    <label class="switch ml-1">
                      <input
                        type="checkbox"
                        class="enableImageCk"
                        id=""
                        [checked]="textConfigureAccorActive"
                        (click)="activeHeightAndLines()" />
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>
                <span>{{ 'textAddons.textAddonsConfigreLbl' | translate }}</span>
              </div>
              <div>
                <span class="collapse-arrow" [ngClass]="{ collapsed: !isCollapsed[0] }">
                  <i class="fal fa-chevron-right"></i>
                </span>
              </div>
            </div>
            <div
              class="collapse"
              id="collapse0"
              [ngClass]="{ show: !isCollapsed[0] }"
              [attr.aria-labelledby]="'heightAndLines'"
              data-parent="#accordion">
              <div class="card-body" [ngClass]="textConfigureAccorActive ? '' : 'disabledFields'">
                <div class="col-12 p-0 heightAndLinesStyle">
                  <div class="col-3 mr-5 p-0">
                    <label class="control-label">{{ 'textAddons.fixedHeightLbl' | translate }}</label>
                    <div class="inputBox">
                      <input
                        type="number"
                        name="height"
                        class="form-control"
                        [(ngModel)]="heightValue"
                        required
                        #heightFieldControl="ngModel" />
                      <span>px</span>
                    </div>
                    <div
                      class="error-message"
                      *ngIf="true && heightFieldControl.invalid && (heightFieldControl.dirty || heightFieldControl.touched)">
                      <div *ngIf="heightFieldControl.hasError('required')">
                        {{ 'textAddons.errors.specifyHeightTextError' | translate }}
                      </div>
                    </div>
                  </div>
                  <div class="col-3 p-0">
                    <label class="control-label">{{ 'textAddons.fixedNumberOfLinesLbl' | translate }}</label>
                    <input
                      type="number"
                      step="1"
                      min="1"
                      max="10"
                      name="lines"
                      [(ngModel)]="linesValue"
                      class="form-control"
                      required
                      #linesFieldControl="ngModel" />
                    <div
                      class="error-message"
                      *ngIf="true && linesFieldControl.invalid && (linesFieldControl.dirty || linesFieldControl.touched)">
                      <div *ngIf="linesFieldControl.hasError('required')">
                        {{ 'textAddons.errors.specifyHeightTextError' | translate }}
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="accordion-item">
          <div class="card">
            <div class="card-header" id="setWidth" (click)="toggleCollapse(1)">
              <div class="col-7 p-0 res">
                <div
                  class="toggleEnableDisable mr-2 p-0"
                  [ngClass]="setWidthAccorActive ? 'toggleEnable' : 'toggleDisable'">
                  <div class="toggleButton">
                    <label class="switch ml-1">
                      <input
                        type="checkbox"
                        class="enableImageCk"
                        id=""
                        [checked]="setWidthAccorActive"
                        (click)="activeSetWidth()" />
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>
                <span>{{ 'textAddons.widthAddonsConfigreLbl' | translate }}</span>
              </div>
              <div>
                <span class="collapse-arrow" [ngClass]="{ collapsed: !isCollapsed[1] }">
                  <i class="fal fa-chevron-right"></i>
                </span>
              </div>
            </div>
            <div
              class="collapse"
              id="collapse0"
              [ngClass]="{ show: !isCollapsed[1] }"
              [attr.aria-labelledby]="'setWidth'"
              data-parent="#accordion">
              <div class="card-body" [ngClass]="setWidthAccorActive ? '' : 'disabledFields'">
                <div class="col-12 p-0 heightAndLinesStyle">
                  <div class="col-3 mr-5 p-0">
                    <label class="control-label">{{ 'textAddons.widthLbl' | translate }}</label>
                    <div class="inputBox">
                      <input
                        type="number"
                        name="width"
                        class="form-control"
                        [(ngModel)]="widthValue"
                        required
                        #widthFieldControl="ngModel" />
                      <span>px</span>
                    </div>
                    <div
                      class="error-message"
                      *ngIf="true && widthFieldControl.invalid && (widthFieldControl.dirty || widthFieldControl.touched)">
                      <div *ngIf="widthFieldControl.hasError('required')">
                        {{ 'textAddons.errors.specifyHeightTextError' | translate }}
                      </div>
                    </div>
                  </div>  
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="accordion-item">
          <div class="card">
            <div class="card-header" id="setStyle" (click)="toggleCollapse(3)">
              <div class="col-7 p-0 res">
                <div
                  class="toggleEnableDisable mr-2 p-0"
                  [ngClass]="setStyleAccorActive ? 'toggleEnable' : 'toggleDisable'">
                  <div class="toggleButton">
                    <label class="switch ml-1">
                      <input
                        type="checkbox"
                        class="enableImageCk"
                        id=""
                        [checked]="setStyleAccorActive"
                        (click)="activeSetStyle()" />
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>
                <span>{{ 'textAddons.styleAddonsConfigreLbl' | translate }}</span>
              </div>
              <div>
                <span class="collapse-arrow" [ngClass]="{ collapsed: !isCollapsed[3] }">
                  <i class="fal fa-chevron-right"></i>
                </span>
              </div>
            </div>
            <div
              class="collapse"
              id="collapse0"
              [ngClass]="{ show: !isCollapsed[3] }"
              [attr.aria-labelledby]="'setWidth'"
              data-parent="#accordion">
              <div class="card-body" [ngClass]="setStyleAccorActive ? '' : 'disabledFields'">
                <div class="col-12 p-0 heightAndLinesStyle">
                  <div class="col-3 p-0">
                    <label>{{ 'textAddons.textStyleLbl' | translate }}</label>
                    <select class="form-control text-styling" [(ngModel)]="textStyle">
                      <option value="">Select</option>
                      <option value="uppercase">{{ 'textAddons.upperCaseTransform' | translate }}</option>
                      <option value="lowercase">{{ 'textAddons.lowerCaseTransform' | translate }}</option>
                      <option value="capitalize">{{ 'textAddons.capitalizeTransform' | translate }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="accordion-item mb-0">
          <div class="card">
            <div class="card-header" id="conditions" (click)="toggleCollapse(2)">
              <div class="col-7 p-0 res">
                <div
                  class="toggleEnableDisable mr-2 p-0"
                  [ngClass]="conditionAccorActive ? 'toggleEnable' : 'toggleDisable'">
                  <div class="toggleButton">
                    <label class="switch ml-1">
                      <input
                        type="checkbox"
                        class="enableImageCk"
                        id=""
                        [checked]="conditionAccorActive"
                        (click)="activeCondition()" />
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>
                <span>{{ 'textAddons.conditionLbl' | translate }}</span>
              </div>
              <div>
                <span class="collapse-arrow" [ngClass]="{ collapsed: !isCollapsed[2] }">
                  <i class="fal fa-chevron-right"></i>
                </span>
              </div>
            </div>
            <div
              class="collapse"
              id="collapse0"
              [ngClass]="{ show: !isCollapsed[2] }"
              [attr.aria-labelledby]="'conditions'"
              data-parent="#accordion">
              <div class="card-body mb-0" [ngClass]="conditionAccorActive ? '' : 'disabledFields'">
                <div class="col-12 p-0 mb-2 conditionLabel">
                  <div>&nbsp;</div>
                  <div><app-merge-tag-copy></app-merge-tag-copy></div>
                </div>
                <div class="col-12 p-0 conditionTextArea">
                  <textarea
                    [placeholder]="'textAddons.conditionPlaceholder' | translate"
                    [(ngModel)]="conditionTextArea"
                    required
                    #condFieldControl="ngModel"></textarea>
                  <div
                    class="error-message"
                    *ngIf="true && condFieldControl.invalid && (condFieldControl.dirty || condFieldControl.touched)">
                    <div *ngIf="condFieldControl.hasError('required')">
                      {{ 'textAddons.errors.specifyConditionError' | translate }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="helpTextToBuildCondition ml-2">
    <a class="pointer" (click)="helpOLH('advance-text-content')">{{ 'textAddons.helpTextToBuildCondition' | translate }}</a>
  </div>

  <div class="condtionSpace mt-2 ml-2" *ngIf="conditionAccorActive && !isConditionValid()">
    <span>{{ 'textAddons.ifConditionIsFalseTxt' | translate }}</span>
    <div class="row radio mt-2">
      <label class="col-3" for="withSpace">
        <input type="radio" name="condtionSpace" [value]="true" [(ngModel)]="selectedSpaceOption" />{{ 'textAddons.showSpaceTxt' | translate }}
      </label>
      <label class="col-4" for="withoutSpace">
        <input type="radio" name="condtionSpace" [value]="false" [(ngModel)]="selectedSpaceOption" />{{ 'textAddons.noShowSpaceTxt' | translate }}
      </label>
    </div>
  </div>
</div>
<div class="modal-footer d-flex justify-content-right">
  <button type="button" class="btn buttonCss shadow-none m-0 mr-1" id="closeBtn" (click)="onClose()">
    {{ 'close' | translate }}
  </button>
  <button type="submit" class="btn buttonPrimaryCss shadow-none m-0" (click)="insertData()">
    {{ 'done' | translate }}
  </button>
</div>
