.echarts-container {
    height: 600px; /* Set the height as needed */
    
      .pagination {
        margin-top: 10px;
        position: absolute;
        bottom: -33px;
        right: 0;
        margin-bottom: 10px; /* Adjust as needed */
      }
  }

  
  