.dmLayoutContainer {
    background: #F0F2F7;
    padding: 15px;
    height: calc(100vh - 120px);
    overflow: auto;

}
.innerContainer{
    .marginTop30 {margin-top: 30px;}
    .verticalTopText{vertical-align: text-top;}
    .backgroundWhite{background-color: #FFF;}
    .verticalMiddle{vertical-align: middle;}
    .backgCol{background-color:#FBFBFB;}
    .mr-15{margin-right: -15px;}
    .tempLayoutSection{
        background-color: #FFF;
        height: calc(100vh - 90px);
        overflow-x: hidden;
        overflow-y: auto;
    }
    .info-Blue{
        background-color: #ECF5FF;
        border:1px solid #80B7F4;
        border-left: 7px solid #80B7F4;
    }
    .iconBlue{color: #1B7DEB;}
    .mrgtop-3{margin-top:-3px;}
    .table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #FFF; 
}
.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
    background-color: #EDEDED; 
}
}
