@import '../../../custom-style.scss';
.buttonCss {
  @include secondaryBttn;
}

.buttonPrimaryCss {
  @include primaryBttn;
}

.font-small {
  @include titleLabel;
}
.borderinput {
  @include borderColor(#b5e4ff);
  border-radius: 2px;
  padding: 0.5rem;
}

.selectedTagLabel {
  padding: 10px;
  font-size: 14px;
  background: #f9fbee;
  border: 1px dashed #c2d76d;
  border-radius: 10px;
  word-wrap: break-word;

  &.two {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.mergeTagExt-dropdown {
  position: relative;
  display: inline-block;
  width: 100%;

  .search-input-box {
    position: relative;
    cursor: pointer;
    i {
      position: absolute;
      right: 5px;
      top: 12px;
    }

    input {
      width: 100%;
      height: 2.5rem;
      padding: 8px;
      font-size: 12px;
      cursor: pointer;
    }
  }

  ul {
    position: absolute;
    width: 100%;
    max-height: calc(100vh - 404px);
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    overflow-y: auto;
    padding: 5px;
    margin: 0;
    font-size: 12px;
    z-index: 999;

    li {
      display: flex;
      padding: 8px;
      cursor: pointer;
      justify-content: space-between;
    }

    li:hover {
      background-color: #f4f9ff;
    }
  }

  .singleObject,
  .multiObject {
    width: 56px;
    margin-left: 10px;
    color: #212529;
    font-size: 80%;
    border-radius: 5em;
    min-width: 1.5em;
    padding: 3px 6px;
    text-align: center;
  }

  .singleObject {
    border: 2px solid #399916;
  }

  .multiObject {
    border: 2px solid #9f30e5;
  }
}