@import '../../../custom-style.scss';
* {
    margin: 0px;
    padding: 0px;
  }
.tab-list{
    list-style: none;     
  }
.tab-list li{
  display: inline;
  padding:11px 8px;
  cursor: pointer;
  font-size: 12px;
  color: #3366FF;
}
.tab-list li.active{
  border-bottom: 2px solid #0c8eff;
  color:#0c8eff;
}
.tab-list li button:hover{
  color:#3366FF;
}
.tab-list li.disabled{
  cursor: default;
  border-bottom: none;
}
.tab-list button{
  border:none;
  background: none;
}
.font-small{
    @include titleLabel;
  }
.custom-btn{
    padding: 5px 15px;
    border:1px solid #3366FF;
    color: #3366FF;
    background-color: #fff;
    font-size: 14px;
    margin: 5px;
    cursor: pointer;
}
.relative{
  position: relative;
}
.floatFinalizeBtn{
  top: -61px;
  position: absolute;
  right: 77px;
}
.outterwrapper{
  background-color: #F0F2F7;
  position: relative;
  //top: 10px;

  .top-d-heading {
    font-size: 1.18rem;
    font-weight: normal;
    margin-bottom: 0;
  }

  button {
    font-size: 0.75rem;
    font-weight: normal;
  }
}
.disabledTab {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}
.buttonCss{
  @include secondaryBttn;
}