@import 'assets/themes/ptags-base';
// Drawer multi select drop down
.custom-multi-select {
    .drop-toggle {
      background-color: $white;
      border: 1px solid #ced4da;
      font-weight: $regular;
    }
    .form-control {
        &.search-field {
          padding-left: 25px;
          background-image: url('../../../../../assets/pTagDash_JSON/icon/search.svg');
          background-size: 12px;
          background-position: 5px center;
          background-repeat: no-repeat;
        }
      } 
    .dropdown {
      .custom-checkbox {
  
          font-weight: $regular;
          display: flex;
        align-items: center;
        gap: 8px;
      }
  
      width: 350px;
      background-color: $white;
      font-weight: $regular;
      position: absolute;
      border-radius: 7px;
      border: 1px solid var(--black-19, #E6E6E6);
      background: #FFF;
      
      /* Shadow/Card/md */
      box-shadow: 0px 4px 8px 0px rgba(96, 97, 112, 0.16);
    }
  
    width: 350px;
  }
  
  .custom-checkbox {
    .custom-control-label {
  
      &::before,
      &::after {
        top: 0.1rem;
      }
  
      &::before {
        border: 1px solid $primaryBtnColor;
      }
    }
  
    .custom-control-input:checked~.custom-control-label::before {
      background-color: transparent;
    }
  
    .custom-control-input:checked~.custom-control-label::after {
      color: #007bff;
      background-image: url('../../../../../assets/pTagDash_JSON/icon/check2.svg');
      background-size: 12px;
    }
   
      
  }

  .custom-multi-select .options-container {
    max-height: 70vh;
    overflow-y: auto;
  }
  
  .custom-multi-select .search-field {
    margin-bottom: 10px; /* Add some margin to separate search field and options */
  }
  
  .custom-multi-select .options-list {
    max-height: calc(65vh - 40px); /* Adjust this value based on your design, subtracting the height of the search field and some extra space */
    overflow-y: auto;
    padding-right: 20px;
  }