<div class="finalSetupConatiner mr-3 ml-3 mt-3">
  <div class="d-flex align-items-center">
    <div class="col-6">{{'finalize.finalizeHeading' | translate }}</div>
    <div class="col-6 text-right pr-0 position-relative activateSimulate">
      <button type="button" class="btn buttonCss shadow-none mr-1" id="saveBtn"
        (click)="saveJourney()" *ngIf="!runningPromotion">{{'finalize.save' | translate }}
      </button>
      <button type="button" class="btn buttonCss shadow-none mr-1" id="simulateBtn"
        (click)="simulateJourney()" *ngIf="!runningPromotion || (journeyObj.listGenKey > 0 && journeyObj.simulationMode ==1)">{{'finalize.simulateJourney' | translate }}
      </button>
      <button type="button" class="btn buttonCss shadow-none" id="activateBtn"
        (click)="activateJourney(activateJourneyModal)" *ngIf="!runningPromotion || journeyObj.simulationMode ==1">{{'finalize.activateJourney' | translate }}
      </button>
    </div>
  </div>

  <div class="setupDetails">
    <div class="d-flex align-items-center">
      <label for="journey-desc" class="col-5">
        {{'finalize.journeyDescription' | translate }}
      </label>
      <div class="col-6">
        <textarea class="form-control shadow-none" id="journey-desc" [(ngModel)]="journeyObj.promotionDesc"></textarea>
      </div>
    </div>

    <div class="d-flex align-items-center">
      <label for="journey-tags" class="col-5">
        {{'finalize.attachTags' | translate }}
      </label>
      <div class="inputTags">
        <span *ngFor="let tag of journeyObj.tags" [style.background-color]="tag.tagColorCode">{{tag.tagName}}
          <i class="fa fa-times ml-1" (click)="removeTag(tag.tagName)"></i>
        </span>
        <select class="form-control shadow-none col-3" id="journey-tags" placeholder="select tag"
        (change)="selectTags($event)" [(ngModel)]="selectTagName">
          <option value="" default selected hidden>{{'finalize.selectTag' | translate }}</option>
          <option *ngFor="let tag of tagList" [value]="tag.tagName">{{ tag.tagName }}</option>
        </select>
      </div>
    </div>

    <div class="d-flex align-items-center">
      <label for="journey-start-date" class="col-5 control-label"> {{'finalize.journeyStartDate' | translate }}</label>
      <div class="col-3 position-relative">
        <!-- https://github.com/DanielYKPan/date-time-picker -->
        <input [owlDateTime]="dt1" [(ngModel)]="journeyObj.promStartDate" id="journey-start-date"
          class="form-control shadow-none">
        <span [owlDateTimeTrigger]="dt1"><i class="fa fa-calendar-alt position-absolute fa-lg"></i></span>
        <owl-date-time #dt1></owl-date-time>
		<span class="timeZoneGtmtext">{{timeZoneInGMT}}</span>
        <!-- <owl-date-time #dt1 [hour12Timer]="true"></owl-date-time> -->
      </div>
    </div>

    <div class="d-flex align-items-center">
      <label for="journey-end-date" class="col-5 control-label">{{'finalize.journeyEndDate' | translate }}</label>
      <div class="col-3 position-relative">
        <!-- https://github.com/DanielYKPan/date-time-picker -->
        <input [owlDateTime]="dt2" [(ngModel)]="journeyObj.promEndDate" id="journey-end-date"
          class="form-control shadow-none">
        <span [owlDateTimeTrigger]="dt2"><i class="fa fa-calendar-alt position-absolute fa-lg"></i></span>
        <owl-date-time #dt2></owl-date-time>
		<span class="timeZoneGtmtext">{{timeZoneInGMT}}</span>
      </div>
    </div>

    <div class="d-flex align-items-center">
      <label for="attach-campaign" class="col-5 control-label">{{'finalize.attachCampaign' | translate }}</label>
      <div class="col-6">
        <select class="form-control shadow-none" id="attach-campaign" [(ngModel)]="journeyObj.campaignKey">
          <option *ngFor="let item of campaigns" [value]="item.dbKey">{{ item.campaignName }}</option>
        </select>
      </div>
    </div>

    <div class="d-flex align-items-center">
      <label for="reinitiation" class="col-5">{{'finalize.journeyReinitiation' | translate }}</label>
      <div class="col-6">
        <select class="form-control shadow-none" id="reinitiation" [(ngModel)]="journeyObj.selectedReEntryType" (change)="updateReEntryDays()">
          <option *ngFor="let item of reinitiations" [value]="item.key">{{ item.name | translate}}</option>
        </select>
      </div>
    </div>

    <div class="d-flex align-items-center" *ngIf="journeyObj.selectedReEntryType !== '000'">
      <label for="re-days" class="col-5">
        {{'finalize.allowJourneyReinitiationAfterLbl' | translate}}
      </label>
      <div class="col-2">
        <input type="number" class="form-control shadow-none" id="re-days" [(ngModel)]="journeyObj.reentryRestrictDays" autocomplete="off">
      </div>
      <label class="col-1 p-0">{{'daysLbl' | translate}}</label>
    </div>

  </div>
</div>

<!-- Activate Journey Popup -->
<ng-template #activateJourneyModal>
  <app-activate-journey [dataFromParent]="modalRef" [journeyObj]="journeyObj"></app-activate-journey>
</ng-template>