@import "../../../custom-style.scss";
.buttonCss {
  @include secondaryBttn;
}

* {
    margin: 0px;
    padding: 0px;
  }
  .custom-btn{
    padding: 5px 15px;
    border:1px solid #3366FF;
    color: #3366FF;
    background-color: #fff;
    font-size: 14px;
    margin: 5px;
    cursor: pointer;

    &:disabled {
      pointer-events: none;
      cursor: not-allowed;
      color: #b3b3b3;
      border-color: #b3b3b3;
    }
  }


.custom-success-btn{
    border:1px solid #04e66ada;
    color: #04e66ada;
}
   #beefree-sdk-container {
    position: inherit;
    top: 10px;
    bottom: 30px;
    left: 0;
    right: 5px;
    width: 99%;
    height: calc(100vh - 100px);
  }

  .templateLibraryParent {
    #beefree-sdk-container {
      height: calc(100vh - 225px);
    }
  }

  #integrator-bottom-bar {
    position: absolute;
    height: 25px;
    bottom: 0px;
    left: 5px;
    right: 0px;
  }
  .border-none{
    border: none;
  }

  .font-small{
    @include titleLabel;
  }
  .backColor{
    background-color: #F0F2F7;
  }
  .whiteColor{background-color: #FFF;}
  .panel.card.customClass .card-header {
    background-color: #F8FCFF !important;
    border: 1px solid #f8fcff;
}
.action-section-lists{
  text-align: center;
}
.actionMenusPopup {list-style: none;}
.actionMenusPopup li{
  list-style: none;
  padding: 20px 20px 0px 20px;
  text-align: left;
  cursor: pointer;
}
.actionMenusPopup{
    position: absolute;
    width: 200px;
    height: auto;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    right:0px;
    top:45px;
    z-index: 9999;
    //display: block;
    padding-bottom: 20px;
    font-size: 14px;
}