@import "../../../custom-style.scss";
.buttonCss {
  @include secondaryBttn;
}

.buttonPrimaryCss {
  @include primaryBttn;
}

.ac-dashboard-header {
  height: 64px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;

  .img1 {
    width: 40px;
    height: 40px;
    margin-left: 20px;
  }

  .img2 {
    height: 20px;
    margin-left: 20px;
  }
}

.ptag-details-container {
  display: flex;
  // height: calc(100vh - 115px);
  padding: 0 10px;
  box-sizing: border-box;
  overflow: hidden;
  gap: 10px;
}

.left-panel {
  flex: 1;
  max-width: 400px;
  background: #fff;
  border: 1px solid #ddd;
  padding: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  overflow-y: auto;
  padding-bottom: 100px;
 .simulation-section{
    display: flex;
    flex-direction: row;
  }
  .paramsText{
    flex-grow: 2;
  }
  .tag-param-container{
    overflow-y: auto;
    height: calc(100vh - 300px);
  }

}

.left-panel h2 {
  font-size: 20px;
  margin-bottom: 12px;
}

.left-panel p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #444;
}

.param-group {
  margin-bottom: 16px;
}

.param-group label {
  display: block;
  font-weight: 500;
  margin-bottom: 6px;
  font-size: 14px;
  color: #666;
}

.param-group input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.right-panel {
  flex: 2;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid #ddd;
  background-color: #fff;
}

.tabs {
  display: flex;
  gap: 0;
  border-radius: 6px;
  overflow: hidden;
  width: fit-content;
  background: #f1f1f1;
  height: 50px;
  border-radius: 10px;
  width: 289px;
  margin: 10px 20px;
}

.tabs button {
  padding: 5px 10px;
  background: transparent;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #333;
  margin: 6px;
}

.tabs button.active {
  background-color: #fff;
  border-radius: 15px;
  color: #007bff;
  margin: 6px;
}

.preview-area {
  padding: 16px;
  border-radius: 8px;
  background-color: #fff;
  overflow: auto;
  width: 100%;
  height: calc(100vh - 300px);
}

.preview-area img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.back-bar {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  padding: 25px 10px 10px 10px;
}

.arrow {
  font-size: 20px;
  font-weight: bold;
}

.label {
  color: #000;
}

.divider {
  color: #999;
}

.tag-name {
  color: #666;
}
.simulate-btn-container {
 text-align: right;
}

.simulate-btn {
  padding: 8px 16px;
  background-color: #026fe9;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.simulate-btn:hover {
  background-color: #014fb3;
}
.hide {
  display: none;
}
.fragment-iframe-container,
.full-image-container {
  width: 100%;
  max-height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.full-image-container, .fragment-container {
  .spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #ccc; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 50px auto; /* Center it vertically */
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.ptag-details-container {
  .selectable-block {
    border: 1px solid transparent;
    cursor: pointer;
  }
  .selected-block {
    border: 2px solid #007bff;
  }
  .action-bar {
    display: flex;
    justify-content: flex-end;
    padding: 12px 16px;
    gap: 12px;
    border-top: 1px solid #ddd;
    background: #fafafa;
  }

  .cancel-btn,
  .insert-btn {
    padding: 8px 16px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background: white;
    transition: background 0.3s ease;
  }

  .cancel-btn:hover {
    background: #f8d7da;
    border-color: #f5c6cb;
  }

  .insert-btn {
    background-color: #026fe9;
    color: white;
    padding: 10px 17px;
  }

  .insert-btn:hover {
    background-color: #014fb3;
  }
  .action-buttons {
    text-align: right;
    margin: 5px;
    .cancel-btn {
      margin-right: 5px;
    }
  }

  .modal-footer {
    position: fixed;
    bottom: 15px;
    right: 6px;
    width: auto;
    background-color: #f0f0f0;
    left: 5px;
  }
}
