.merge-tag-injection-section {
  width: 628px;
  background: #f7f9fc;

  .sidebar {
    background: #fff;
    border-right: 1px solid #dfe3e8;
    height: calc(100vh - 59px);
    overflow: auto;
    width: 280px;

    .top-header {
      display: flex;
      align-items: center;

      > div {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #3c83f633;
        width: 30px;
        height: 30px;
        border-radius: 0.75rem;

        i {
          color: #3c83f6;
          font-size: 16px;
        }
      }
    }
  }

  .accordion-section {
    margin-bottom: 12px;
  }

  .accordion-header {
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    background: linear-gradient(to right, rgba(60, 131, 246, 0.2), rgba(60, 131, 246, 0.1), rgba(0, 0, 0, 0));

    .left {
      display: flex;
      align-items: center;
      gap: 8px;

      > div {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        width: 30px;
        height: 30px;
        border-radius: 0.75rem;

        i {
          color: #3c83f6;
          font-size: 16px;
        }
      }

      .items-count {
        font-size: 12px;
      }
    }

    .right.plus-icon-section {
      width: 20px;
      height: 20px;
      text-align: center;
    }
  }

  .accordion-body {
    margin-top: 8px;

    .model-list .list-group-item {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      padding: 10px 7px;
      margin-bottom: 6px;
      border-radius: 10px;

      &.active {
        background: #007bff;
        color: #fff;
        font-weight: 500;

        .fields-count {
          border-color: #fff;
        }

        .text-span {
          .text-span-1 {
            .span-1 {
              color: #fff !important;
            }

            .span-2 {
              color: #fff !important;
            }
          }
        }

        .delete-icon {
          > i {
            color: #fff;
          }
        }
      }

      span.text {
        font-size: 12px;
        display: flex;
        align-items: flex-start;

        > i {
          margin-top: 0.25rem !important;
        }

        .text-span {
          width: 155px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          .text-span-1 {
            .span-1 {
              font-size: 11px;
              color: #9f30e5;
            }

            .span-2 {
              font-size: 12px;
              color: #007bff;
              font-weight: bold;
            }
          }
        }
      }

      .fields-count {
        font-size: 12px;
        border: 1px solid #b8a8a8;
        border-radius: 49px;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        font-weight: bold;
      }
    }
  }

  .content {
    background: #f9fbff;
    width: calc(100% - 280px);

    .top-model-name {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .model-name {
        display: flex;

        .max-count-value {
          font-size: 12px;
          color: #007bff;
          font-weight: bold;
        }
      }

      div > i {
        cursor: pointer;
        color: red;
      }
    }

    .code-section {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
    }

    .field-cards {
      height: calc(100vh - 205px);
      overflow-x: hidden;
      overflow-y: auto;

      .merge-card-body {
        padding: 10px;
      }
    }

    h4 {
      font-size: 16px;
    }

    .text-muted {
      font-size: 12px;
    }

    .serach-input-wrapper {
      position: relative;

      i.fa-search {
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        color: #888;
      }

      input {
        padding-left: 30px;
        font-size: 12px;
      }
    }
  }

  .field-card {
    border: 1px solid #dee2e6;
    border-radius: 10px;
    background-image: linear-gradient(to right bottom, rgb(255, 255, 255), rgb(255, 255, 255), rgba(28, 202, 91, 0.05));
  }

  .field-label {
    font-size: 13px;
    font-weight: 600;
  }

  .field-code {
    font-size: 12px;
    background: linear-gradient(to right, rgba(60, 131, 246, 0.15), rgba(60, 131, 246, 0.1), transparent);
    padding: 8px 12px;
    border-radius: 12px;
    font-family: monospace;
    margin-right: 10px;
    color: #3c83f6;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 1369px) {
  .merge-tag-injection-section { 
    width: 567px;
  }
}