@use "sass:map";
@import "colors";

.bg-main {
    background-color: map.get($theme-dark, "bg-main");
    color: map.get($theme-dark, "color-main");
}
.bg-primary {
    background-color: map.get($theme-dark, "bg-primary") !important;
}
.color-primary {
    color: map.get($theme-dark, "color-primary");
}
.bg-secondary {
    background-color: map.get($theme-dark, "bg-secondary") !important;
}
.color-secondary {
    color: map.get($theme-dark, "color-secondary");
}
.color-secondary-dark {
    color: map.get($theme-dark, "color-secondary-dark");
}
.bg-grey {
    background-color: map.get($theme-dark, "bg-grey");
}
.bg-help {
    background-color: map.get($theme-dark, "bg-help")
}
.btn-bg-primary {
    background-color: map.get($theme-dark, "btn-bg-primary")
}
.gradient-color-primary {
    background: map.get($theme-dark, "gradient-color-primary");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.border-color-primary {
    border-color: map.get($theme-dark, "border-color-primary")
}
.border-color-secondary {
    border-color: map.get($theme-dark, "border-color-secondary")
}
.box-shadow-primary {
    box-shadow: 0px 4px 4px map.get($theme-dark, "box-shadow-primary");
}

.modal{
    color: map.get($theme-light, "color-main");
}