@use "sass:map";
@import "colors";
@import "variables";

.bg-main {
    background-color: map.get($theme-light, "bg-main");
    color           : map.get($theme-light, "color-main");
}

.color-main {
    color: map.get($theme-light, "color-main") !important;
}

.bg-primary {
    background-color: map.get($theme-light, "bg-primary") !important;
}

.bg-white {
    background: map.get($theme-light, "color-white") !important;
}

.color-primary {
    color: map.get($theme-light, "color-primary");
}

.color-danger {
    color: map.get($theme-light, "btn-bg-primary") !important;
}

.bg-secondary {
    background-color: map.get($theme-light, "bg-secondary") !important;
}

.color-secondary {
    color: map.get($theme-light, "color-secondary");
}

.color-secondary-dark {
    color: map.get($theme-light, "color-secondary-dark");
}

.color-secondary-light {
    color: map.get($theme-light, "color-secondary-light");
}

.color-highlight {
    color: map.get($theme-light, "purple");
}
.blue-color{
    color: map.get($theme-light, "blue-color") !important;
}
.bg-grey {
    background-color: map.get($theme-light, "bg-grey");
}

.bg-help {
    background-color: map.get($theme-light, "bg-help")
}

.btn-bg-primary {
    background-color: map.get($theme-light, "btn-bg-primary")
}

.gradient-color-primary {
    background             : map.get($theme-light, "gradient-color-primary");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.border-color-primary {
    border-color: map.get($theme-light, "border-color-primary");
}

.border-color-secondary {
    border-color: map.get($theme-light, "border-color-secondary");
}

.border-color-secondary-dark {
    border-color: map.get($theme-light, "border-color-secondary-dark");
}

.box-shadow-primary {
    box-shadow: 0px 4px 4px map.get($theme-light, "box-shadow-primary");
}

.box-shadow-secondary {
    box-shadow: 0px 4px 8px map.get($theme-light, "box-shadow-secondary");
}

.modal {
    color: map.get($theme-light, "color-main");
}

// Button Style
.btn {
    border-color    : map.get($theme-light, "border-color-primary");
    background-color: map.get($theme-light, 'color-white');
    color           : map.get($theme-light, "color-main");
}

.btn-hover {
    border-color: map.get($theme-light, "btn-bg-primary");
    box-shadow  : 0px 0px 8px rgba(5, 96, 183, 0.5);
}

.btn-outline:not(:disabled):not(.disabled):not(:focus):hover {
    @extend .btn-hover;
}

.btn:focus {
    // box-shadow: 0 0 0 0.2rem map.get($theme-light, "box-shadow-primary");
    box-shadow      : none;
    background-color: map.get($theme-light, "btn-bg-primary");
    color           : map.get($theme-light, "color-white");
}

.primary-btn {
    border-color    : map.get($theme-light, "btn-bg-primary");
    box-shadow      : none;
    background-color: map.get($theme-light, "btn-bg-primary");
    color           : map.get($theme-light, "color-white");
}

.primary-btn:hover {
    // background-color: darken($color: map.get($theme-light, "btn-bg-primary"), $amount: 4%);
    @extend .btn-hover;
    color: darken($color: map.get($theme-light, "color-white"), $amount: 4%);
}

.bg-active {
    background-color: map.get($theme-light, "light-blue");
}

.border-active {
    border-color: map.get($theme-light, "color-primary");
}

.bg-success {
    background-color: map.get($theme-light, "light-green") !important;
}

.border-success {
    border-color: map.get($theme-light, "green") !important;
}

.bg-green{
    background-color: map.get($theme-light, "green") !important;
}

.bg-error {
    background-color: map.get($theme-light, "bg-red") !important;
}

.bg-error-light {
    background-color: map.get($theme-light, "light-red") !important;
}

.border-error {
    border-color: map.get($theme-light, "red") !important;
}

.color-error {
    border-color: map.get($theme-light, "dark-red") !important;
}

.text-color-error {
    color: map.get($theme-light, "dark-red") !important;
}

.bg-warning-light {
    background-color: map.get($theme-light, "light-orange") !important;
}
