$pad-card    : 1.5rem;
$w-8         : 8px;
$w-10        : 10px;
$content1    : 1.75rem;
$content2    : 1.5rem;
$w-14        : 0.875rem; //14px;
$w-16        : 1rem; //16px;
$w-32        : 2rem; //32px;
$w-40        : 2.5rem; //40px;
$w-46        : 2.875rem; //46px;
$font-regular: 500;
$font-medium : 600;
$font-bold   : 700;
$box-shadow  : 0px 4px 4px rgba(0, 0, 0, 0.15);


// Harmony Design System
$fontFamily     : Poppins;
$fontStyle      : normal;
$fontRegular    : 500;
$fontMedium     : 600;
$fontBold       : 700;
$fontSize14     : 14px;
$fontSize12     : 12px;
$fontSize10     : 10px;

//button
$primaryBtnColor: #026FE9;
$secondaryBtnColor: #026FE9;

$primaryBtnHoverColor: #014EC0;
$secondaryBtnHoverColor: #014EC0;